
.dino-card {
  margin: 1rem;
  width: 20vw;
}

.card-img-top {
  width: 100%;
  display: block;
  position: relative;
  min-height: min-content;
  overflow: hidden;
}

.hp { 
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

.hp-heart-on {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0%;
  z-index: 50;
  animation: animate-hp-heart 2s 1;
}

.hp-animate-span {
  color: darkred;
  background-color: darkred;
}

@keyframes animate-hp-heart {
  0% {opacity: 0%; bottom: 10px;}
  25% {opacity:100%;}
  50% {opacity: 100%;}
  75% {opacity: 100%;}
  100% {opacity: 0%; bottom: 50px;}
}

.dino-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0px;
  object-fit: scale-down;
  object-position: center;
}

.cell-bars {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.dino-walk-right {
  animation: dinowalk-right 15s infinite linear;
  animation-delay: -2s;
}

.dino-walk-left {
  animation: dinowalk-left 15s infinite linear;
}

@keyframes dinowalk-right {
  0% {
    left: -80%;
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
  10% {
    transform: translate(0px, 20px) rotateY(0deg) rotate(10deg);
  }
  20% {
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
  30% {
    transform: translate(0px, 20px) rotateY(0deg) rotate(10deg);
  }
  40% {
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
  49% {
    transform: rotateY(0deg);
  }
  50% {
    left: 80%;
    transform: translate(0px, 20px) rotateY(180deg) rotate(10deg);
  }
  60% {
    transform: translate(0px, 0px) rotateY(180deg) rotate(0deg);
  }
  70% {
    transform: translate(0px, 20px) rotateY(180deg) rotate(10deg);
  }
  80% {
    transform: translate(0px, 0px) rotateY(180deg) rotate(0deg);
  }
  90% {
    transform: translate(0px, 20px) rotateY(180deg) rotate(10deg);
  }
  99% {
    transform: rotateY(180deg);
  }
  100% {
    left: -80%;
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
}

@keyframes dinowalk-left {
  0% {
    left: 80%;
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
  10% {
    transform: translate(0px, 20px) rotateY(0deg) rotate(10deg);
  }
  20% {
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
  30% {
    transform: translate(0px, 20px) rotateY(0deg) rotate(10deg);
  }
  40% {
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
  49% {
    transform: rotateY(0deg);
  }
  50% {
    left: -80%;
    transform: translate(0px, 20px) rotateY(180deg) rotate(10deg);
  }
  60% {
    transform: translate(0px, 0px) rotateY(180deg) rotate(0deg);
  }
  70% {
    transform: translate(0px, 20px) rotateY(180deg) rotate(10deg);
  }
  80% {
    transform: translate(0px, 0px) rotateY(180deg) rotate(0deg);
  }
  90% {
    transform: translate(0px, 20px) rotateY(180deg) rotate(10deg);
  }
  99% {
    transform: rotateY(180deg);
  }
  100% {
    left: 80%;
    transform: translate(0px, 0px) rotateY(0deg) rotate(0deg);
  }
}
